[package]
name = "num-dual"
version = "0.3.0"
authors = ["Gernot Bauer <bauer@itt.uni-stuttgart.de>",
           "Philipp Rehner <prehner@ethz.ch>"]
edition = "2018"
readme = "README.md"
license = "MIT OR Apache-2.0"
description = "Generalized (hyper) dual numbers for the calculation of exact (partial) derivatives"
homepage = "https://github.com/itt-ustutt/num-dual"
repository = "https://github.com/itt-ustutt/num-dual"
keywords = ["mathematics", "numerics", "differentiation"]
categories = ["data-structures", "science", "mathematics"]
exclude = ["/.github/*", "*.ipynb", "./docs/*"]

[dependencies]
num-traits = "0.2"
ndarray = { version = "0.15", optional = true }
ndarray-linalg = { version = "0.14", optional = true }
pyo3 = { version = "0.15", optional = true }

[features]
default = []
python = ["pyo3"]
openblas-system = ["ndarray", "ndarray-linalg/openblas-system"]
openblas-static = ["ndarray", "ndarray-linalg/openblas-static"]
netlib-system = ["ndarray", "ndarray-linalg/netlib-system"]
netlib-static = ["ndarray", "ndarray-linalg/netlib-static"]
intel-mkl-static = ["ndarray", "ndarray-linalg/intel-mkl-static"]
intel-mkl-system = ["ndarray", "ndarray-linalg/intel-mkl-system"]

[dev-dependencies]
criterion = "0.3"
approx = "0.4"

[[bench]]
name = "benchmark"
harness = false
